<div class="modal fade" id="dealer-googletimezone-failed" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{intl d='dealergoogletimezone.bo.default' l="An error occured"}</h3>
            </div>
            <div class="modal-body" id="dealer-googletimezone-failed-body">

            </div>
        </div>
    </div>
</div>


<div class="general-block-decorator">
    <div class="row">

        <div class="col-md-12 title title-without-tabs">
            {intl l='Edit your Google TimeZone API configuration.'} - <span style="text-transform: none;">(<a href="https://developers.google.com/maps/documentation/timezone/get-api-key" target="_blank">{intl l="Get API key" d=""}</a>)</span>
        </div>

        <div class="form-container">
            <div class="col-md-12">

                {form name="dealer_googletimezone.configuration.form"}
                <form method="POST" id="dealer-googletimezone-form" action="{url path="/admin/module/dealergoogletimezone/configure"}" {form_enctype} class="clearfix">

                {form_hidden_fields}

                {form_field field='googletimezoneapi_key'}
                <div class="form-group {if $error}has-error{/if}">
                    <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                    <input id="{$label_attr.for}" name="{$name}" class="form-control" title="{$label}" value="{$value}" />
                </div>
                {/form_field}

                <button type="submit" id="dealer-googletimezone-save" name="dealer_googletimezone_save" value="save" class="form-submit-button btn btn-sm btn-default" title="{intl d='dealergoogletimezone.bo.default' l='Save'}">{intl d='dealergoogletimezone.bo.default' l='Save'}</button>
                </form>
                {/form}

            </div>

        </div>

    </div>
</div>




